.head{
    border: 1px solid transparent;
    background-color:lightseagreen;
    height: 50px;
    position: sticky;
    top: 0;
}
ul{
    float: left;
    cursor: pointer;
}
ul li{
    float: left;
    width: 120px;
    position: relative;
    left: 80%;
    list-style-type: none;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 18px;
    background-color: lightseagreen;
}
ul li a{
    text-decoration: none;
    color: black;
    background-color: ;
    border: white;

}
ul li a:hover{
    background-color: whitesmoke;
    border: black solid thick;

}

h2{
    position: absolute;
    right:78%;
    text-transform: uppercase;
    font-family: Arial, Helvetica,sans-serif;
    margin-top:8px;
    font-weight: bolder;
    
}
font{
    color: rgb(219, 218, 218);
}
.h1{
    background-color:white;
    color: white;
    
}
.cover img{
    background-size: cover;
    height: 930px;
    width: 1339px;
}
.text{
    position: absolute;
    text-outline: 2px;0%;
    left: 30%;
    top: 80%;
}
h3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: capitalize;
    width:400px;
    word-spacing: 0px;
    font-weight: normal;
    line-height: 80px;
    color: black;
}
h4{
    position: absolute;
    top: -4%;
    font-size: 90%;
    font-family: Arial, Helvetica,sans-serif;
    text-transform: uppercase;
    color: blanchedalmond;
}
form input[type="submit"]{
    position: absolute;
    top: 86%;
    padding: 10px;
    text-transform: uppercase;
    background-color: darkcyan;
    border: none;
    color: white;
    font-family: Arial, Helvetica,sans-serif; 
    letter-spacing: 1px;
}
form input[type="submit"]:hover{
    background-color:black;
}
.image22{
    position: absolute;
    left: 5%;
    top:30%;
    border: 5px; solid darkgray;
    box-shadow: 1px 2px 4px;
}
h5{
    color: red;
    position: absolute;
    left: 20%;
    top: 20%;
    border: 1px solid black;
    width: 200px;
    font-size: 40px;
    font-family: Arial, Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;

}
p{
    text-align: center;
}
/* Blend in */
.main-wrapper{
    margin: 30px 0;
}
.main-wrapper > h2{
    text-align: center;
    margin: 45px 0 25px 0;
}
.article-collection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    flex-wrap: wrap;
    margin: 0 auto;
}
article{
    flex: 0 0 calc(25% - 30px);
    margin: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
}
.img-box img{
    width: 100%;
    display: block;
}
.img-box{
    overflow: hidden;
}
.rating{
    font-size: 13px;
    margin-bottom: 10px;
}
.rating .fas, .rating .far{
    color: #f9be37;
}
.rating span:last-child{
    opacity: 0.8;
}
.text-content{
    padding: 0 25px;
}
.text-content h3{
    padding: 15px 0;
}
.text-content p{
    opacity: 0.8;
    padding: 10px 0 25px 0;
}
.location{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
}
.location div span{
    opacity: 0.8;
    font-size: 15px;
}
.location button{
    background: #08c299;
    padding: 8px 10px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.article-collection article:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
}
@media screen and (max-width: 1200px){
    article{
        flex: 0 0 calc(50% - 30px);
    }
}

@media screen and (max-width: 768px){
    article{
        flex: 0 0 100%
    }
    .article-collection article:nth-child(even){
        flex-direction: column;
    }
}

.devider4{
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Tourist Responsive card */
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(12, 12, 12);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}
.container .card .imgBox img{
    width: 100%;
    border-radius: 4px;
}
.container .card .cardcontent{
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .cardcontent{
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
}
.image22:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}
.image23{
    position: absolute;
    left: 40%;
    top:30%;
    border: 5px; solid darkgray;
    box-shadow: 1px 2px 4px;
}
.image23:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}

.image24{
    position: absolute;
    left: 70%;
    top:30%;
    border: 5px; solid black;
    box-shadow: 1px 2px 4px;
}
.image24:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}
h{
    font-size: 40px;
    align: left;
}
footer{
    background-color: lightseagreen;
}
.slogan{
    position: absolute;
    text-outline: 2px;0%;
    left: 30%;
    top: 35%;
}
.About{
    text-align:center;
}


